/*формат отдельных ячеек "главная, концепция, наставники, вконтакте, facebook, instagram"*/
.footer__column-link {
    color: #ffffff;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
  }